

.commits-section {
  display: inline-block;
  margin: 10px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.commit-details {
  margin: 10px;
  border: 1px solid var(--border-color);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}