.container {

    display: flex;
    flex-direction: column;
    align-items: left;
}

.profile-section , .projects-section {
    padding: 20px;
    border: var(--border-color) 2px solid;
    border-top: 0;
}

.profile-section h1 {
    margin-bottom: 20px;
}

.projects-section h1 {
    margin-bottom: 20px;
}