.project-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  border-bottom: var(--border-color) 2px solid;
  padding: 24px;
  margin-bottom: 16px;
}

.repo-header , .repo-link {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.repo-link {
  min-width: 160px;
}

.project-details h1 {
  margin-bottom: 8px;
}

.github-link, .commits-link {
    margin-bottom: 8px;
}
