
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #222222;
  --secondary-color: #000000;
  --accent-color: #1DCD9F;
  --border-color: #169976;
  --shadow-color: #E8E8E8;
  --text-color: #E8E8E8;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

h1{
    font-size: 32px;
    color: var(--text-color);
}

h2{
    font-size: 28px;
}

h3{
    font-size: 22px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}